/* .form-check-input[type="checkbox"] {
  transform: rotate(90deg);
  transform-origin: center;
} */

@media (max-width: 768px) {
  
  .form-check-input[type="checkbox"] {
    transform: rotate(90deg);
    transform-origin: center;
    width: 20px !important;
    height: 10px !important;
    /* margin-top: 0 !important; */
    /* margin-left: 0 !important;  */
    
  }

}
  

